.reveal {
  $smocky_black: rgba(16, 0, 7, 1);
  $raisin_black: rgb(63, 56, 56);
  $purple: rgba(43, 1, 30, 1);
  $green: rgba(59, 96, 71, 1);
  $gold: rgba(246, 204, 104, 1);
  $red: #b82525;

  .alt-color {
    color: $raisin_black;
  }

  section {
    img {
      border: none;
      background: none;
      box-shadow: none;
      margin: 0;
    }

    &.scrollable {
      bottom: 0px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    & {
      font-family: papaya_sunriseregular, serif;
      color: $raisin_black;
    }

    .accent {
      color: $red;
    }

    &.title-slide {
      h3 {
        padding-bottom: 10px;
      }
      .and {
        font-size: 1em;
        padding-bottom: 20px;
      }
      img {
        width: 310px;
      }
    }

    &.has-dark-background {
      h1,
      h2,
      h3,
      h4,
      h5,
      & {
        color: white;
      }
    }

    ul {
      font-weight: 100;
      font-size: 0.7em;
      color: $raisin_black;
      padding-left: 25px;
      font-family: "papaya_sunriseregular", serif;
      list-style: none;
      li:before {
        content: "-";
        color: $red;
        position: relative;
        left: -20px;
        // font-size: 1.8em;
      }
    }
    ul.with-pics {
      li {
        margin-bottom: 20px;
        img {
          height: 40px;
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
