 @font-face {
    font-family: 'papaya_sunriseregular';
    src: url('papaya_sunrise.woff2') format('woff2'),
    url('papaya_sunrise.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}